<div id="myCarousel1" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <ol class="carousel-indicators">
    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel1" data-slide-to="1"></li>
    <li data-target="#myCarousel1" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active"> <img src="/assets/banner.png" style="width:100%; height: 500px" alt="First slide">
      <div class="carousel-caption">
        <h1>Lorem Ipsum<br> Lorem Ipsum</h1>
      </div>
    </div>
    <div class="item"> <img src="/assets/banner2.png" style="width:100%; height: 500px" alt="Second slide">
      <div class="carousel-caption">
        <h1>Lorem Ipsum<br> Lorem Ipsum</h1>
      </div>
    </div>
    <div class="item"> <img src="/assets/banner3.png" style="width:100%; height: 500px" alt="Third slide">
      <div class="carousel-caption">
        <h1>Lorem Ipsum<br>Lorem Ipsum</h1>
      </div>
    </div>

  </div>
  <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="/assets/icons/left-arrow.png" onmouseover="this.src = '/assets/icons/left-arrow-hover.png'" onmouseout="this.src = '/assets/icons/left-arrow.png'" alt="left"></a>
  <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="/assets/icons/right-arrow.png" onmouseover="this.src = '/assets/icons/right-arrow-hover.png'" onmouseout="this.src = '/assets/icons/right-arrow.png'" alt="left"></a>

</div>
<div class="clearfix"></div>