<!---footer--->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 width-set-50">
        <div class="footer-details">
          <h4>Get in touch</h4>
          <ul class="list-unstyled footer-contact-list">
            <li>
              <i class="fa fa-map-marker fa-lg"></i>
              <p>Firdousia Qabristan, Pakistan.</p>
            </li>
            <li>
              <i class="fa fa-phone fa-lg"></i>
              <p><a href="tel:+92-xxx-xxxxxxx"> +92-xxx-xxxxxxx</a></p>
            </li>
            <li>
              <i class="fa fa-envelope-o fa-lg"></i>
              <p><a href="mailto:admin@firdousiaqabristan.com"> admin@firdousiaqabristan.com</a></p>
            </li>

            <li>
              <i class="fa fa-line-chart fa-lg"></i>
              <p> Total Graves <%= Grave.count %></p>
            </li>
          </ul>
          <div class="footer-social-icon">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 width-50 width-set-50">
        <div class="footer-details">
          <h4>explore</h4>
          <ul class="list-unstyled footer-links">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="javascript:">About</a></li>
            <li><a href="javascript:">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
        <!--<div class="footer-details">-->
          <!--<h4>Now On Instagram</h4>-->
          <!--<div class="row">-->
            <!--<div class="instagram-images">-->
              <!--<div id="instafeed"></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>

    <div class="copyright">
      &copy; <%= Date.today.year %> All right reserved. Designed by Developed by <a href='http://www.seesoftech.com/' target="_blank">SeeSoftTech</a>
    </div>

  </div>
</footer>

<!--back to top--->
<a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
  <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
  <span>Top</span>
</a>
