<p id="notice"><%= notice %></p>

<h1>Graves</h1>
<br/>
<br/>


<%= render partial: 'shared/grave_data_set', locals: {graves: @graves}%>


<br>

<%= link_to 'New grave', new_grave_path, class: 'btn btn-primary' %>