/*
 *= require jquery-ui
 *= require bootstrap.min
 *= require style

 *= require lightbox.min
 *= require responsive


 */
@import "font-awesome";

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.pl0 {
  padding-left: 0;
}

.ml0 {
  margin-left: 0;
}

.pr0 {
  padding-right: 0;
}

.mr0 {
  margin-right: 0;
}

.pt0 {
  padding-top: 0;
}

.mt0 {
  margin-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.mb0 {
  margin-bottom: 0;
}
.breadcrumb_container {
  background-color: #fff;
  padding: 10px;
}